name: tests

on:
  push:
  pull_request:

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # if you have a requirements.txt, uncomment:
          # pip install -r requirements.txt
          pip install numpy

      - name: Run unit tests
        run: |
          python -m unittest discover -s TSP_Experiment/tests -p "test_*.py" -t TSP_Experiment -v
